# YAML
version: '3.7'
services:
  rtsp:
    image: innodiskorg/rtsp-server:v0.23.7
    network_mode: host
    volumes: 
      - ./rtsp-config.yml:/mediamtx.yml
  webrtc:
    image: innodiskorg/rtsptoweb:v1.0.0
    network_mode: host
    volumes:
      - ./webrtc-config.json:/config/config.json
    depends_on:
      - rtsp
  nginx:
    image: innodiskorg/ivit-i-nginx:1.23.4-bullseye
    network_mode: host
    volumes:
      - ./nginx-config.template:/etc/nginx/templates/default.conf.template
    environment:
      - NG_PORT=6632
      - API_PORT=819
      - RTC_PORT=8083
  website:
    image: innodiskorg/ivit-i-website:v120
    network_mode: host
    environment:
      - NGINX_PORT=8001
      - BACKEND_PORT=6632
      - STREAM_PORT=8083
    command: >
      /bin/sh -c
      "envsubst '
      $${NGINX_PORT}
      $${BACKEND_PORT}
      $${STREAM_PORT}
      '< /etc/nginx/nginx.conf.template
      > /etc/nginx/nginx.conf
      && nginx -g 'daemon off;'"
