[Unit]
Description=Start iVIT-I Web Service

[Service]
Type=simple
User=root
ExecStart=/home/max/inno/IVIT-I/ivit-i-web-api-fast/docker/run.sh intel -q
ExecStop=/home/max/inno/IVIT-I/ivit-i-web-api-fast/docker/stop.sh

[Install]
WantedBy=graphical.target