[Unit]
Description=Stop iVIT-I Web Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=
ExecStop=

[Install]
WantedBy=default.target